:root {
    --emulator-width: 960px;
    --emulator-height: 750px;
    --properties-height: 20em;
    --color-1: #db7f67;
    --color-2: #dbbea1;
    --color-3: #a37b73;
    --color-3-light: #dda89d;
    --color-4: #3f292b;
    --color-5: #d34f73;
}

body {
    margin: 0;
    padding: 0 0 1em 0;
    font-family: sans-serif;
    background-color: var(--color-2);
    text-align: center;
}

h1 {
    margin: 0;
    padding: 1em 0;
    font-size: 100%;
    background-color: var(--color-5);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

a.emphasize {
    display: inline-block;
    border-radius: 0.5em;
    background-color: var(--color-4);
    color: var(--color-2);
    padding: 1em 2em;
    margin-top: 1em;
    font-weight: bold;
}

.page-list-item {
    display: inline-block;
    text-align: center;
    margin: 1em 1em 0 0;
    padding: 0.5em;
    width: 160px;
    background-color: var(--color-3);
    color: #fff;
}

.page-list-item h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.page-list-item a { text-decoration: none; }
