body {
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.migrid { text-align: center; }

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: auto;
}

canvas.scale-height {
    width: auto;
    height: 100%;
}
