.mosaic-root {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #404040;
}

.mosaic-canvases {
    text-align: center;
}

.center {
    display: inline-block;
    position: relative;
}

.hidden { display: none; }

.mosaic-grid, .mosaic-overlay, .mosaic-error, .mosaic-preview {
    position: absolute;
    top: 0;
    left: 0;
}

.mosaic-overlay {
    width: 100%;
    height: 100%;
}

.mosaic-grid, .mosaic-overlay, .mosaic-error, .mosaic-preview {
    pointer-events: none
}

.mosaic-overlay {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    opacity: 0.5;
}

.cursor-pencil { cursor: url(../icon/graphics-pencil.svg) 0 32, pointer }
.cursor-fill { cursor: url(../icon/graphics-fill.svg) 3 28, pointer }
.cursor-circle { cursor: url(../icon/graphics-circle.svg) 16 16, pointer }
.cursor-filledCircle { cursor: url(../icon/graphics-filled-circle.svg) 16 16, pointer }
.cursor-rectangle { cursor: url(../icon/graphics-rectangle.svg) 7 6, pointer }
.cursor-filledRectangle { cursor: url(../icon/graphics-filled-rectangle.svg) 7 6, pointer }
.cursor-curve { cursor: url(../icon/graphics-curve.svg) 12 6, pointer }
.cursor-copy { cursor: url(../icon/graphics-copy.svg) 7 6, pointer }
.cursor-paste { cursor: url(../icon/graphics-paste.svg) 16 16, pointer }

