@font-face {
    font-family: Minitel;
    src: url(../font/Minitel.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.jstree-node {
    line-height: 32px;
}

.jstree-default .jstree-icon:empty {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.miedit-treeactions {
    float: left;
    width: 49%;
}

.miedit-forms {
    float: right;
    width: 49%;
}

.miedit-forms {
    background: linear-gradient(#ffffff, #eaedf1);
    border-bottom: 0.1em solid #8b9097;
    box-shadow: #8b9097 0 0.1em 0.3em;
}

.miedit-forms form {
    display: none;
    padding: 1.5em;
}

.miedit-forms .card-header { line-height: 2.25; }
.miedit-forms input[type=number] { width: 3em; }
.miedit-forms input:checked + label::after {
    content: "\f0a5"; /* hand-o-left */
    font-family: FontAwesome;
    position: absolute;
    font-size: 150%;
    right: -1.5em;
    top: 0.2em;
}

.miedit-forms label {
    display: inline-block;
    width: 8em;
}

.miedit-forms label.box-label {
    position: relative;
    width: inherit;
}

.miedit-field, .miedit-action { clear: both; }

.miedit-forms input[type="text"], .miedit-forms textarea {
    font-family: Minitel;
    font-size: 75%;
}

.migrid {
    padding: 2em;
    background-color: black;
    text-align: center;
}

select { height: 2.6em; }

.minitel-editor { position: relative; }
.minitel-overlay {
    top: 0;
    left: 0;
    position: absolute;
}

