@font-face {
    font-family: Minitel;
    src: url(../font/Minitel.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p { margin: 0.5em 0 0 0; }

div.jstree::before {
    display: block;
    content: "";
    background-color: black;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: 0.5em 0 0 0.25em;
}

a>.jstree-icon {
    background-size: 100% 100% !important;
}

.miedit-treeactions { float: left; width: 49%; }
.miedit-forms { float: right; width: 49%; }

.miedit-forms {
    background: linear-gradient(#ffffff, #eaedf1);
    border-bottom: 0.1em solid #8b9097;
    box-shadow: #8b9097 0 0.1em 0.3em;
}

.miedit-forms>* {
    display: none;
    padding: 1.5em;
}

.miedit-forms h2 {
    margin-top: 0;
    border-bottom: 0.1em solid white;
    font-size: 115%;
}

.miedit-forms h2::after {
    content: "";
    display: block;
    padding-top: 0.7em;
    border-bottom: 0.1em solid #CCC;
}

.miedit-forms h2 input {
    float: right;
    font-size: 80%;
    background: linear-gradient(#4488e5, #2860b3);
    color: white;
    border-radius: 0.5em;
    padding: 0.2em 0.8em;
    cursor: pointer;
}

.miedit-forms h2 input:hover { background: linear-gradient(#5498f5, #3870c3); }

.miedit-forms .card-header { line-height: 2.25; }
.miedit-forms input[type=number] { width: 3em; }

.miedit-forms label {
    display: inline-block;
    width: 8em;
}

.miedit-forms img {
    max-width: 100%;
    height: auto;
}

.miedit-forms label.box-label {
    position: relative;
    width: inherit;
}

.miedit-radio { display: inline-block; }
.miedit-radio img {
    position: relative;
    top: 0.5em;
}
.radio-label { line-height: 2; }
.miedit-forms .miedit-radio label { width: 10em; }

.miedit-field, .miedit-action { clear: both; }

.miedit-info>* { padding-left: 2.5rem; }
.miedit-info>h3 {
    line-height: 2rem;
    background-image: url(../icon/miicons.svg#miedit-info);
    background-size: 2rem;
    background-position: top left;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 0.7em;
}

.miedit-info { border-top: 0.1em solid white; }
.miedit-info::before {
    content: "";
    display: block;
    margin-top: 1em;
    border-top: 0.1em solid #CCC;
}

.miedit-forms input[type="text"], .miedit-forms textarea {
    font-family: Minitel;
    font-size: 75%;
}

.migrid {
    padding: 9em;
    background-color: #202020;
    text-align: center;
}

.migrid canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scale(2, 2);
}

select { height: 2.6em; }

.minitel-editor { position: relative; }
.minitel-overlay {
    top: 0;
    left: 0;
    position: absolute;
}

/* Tree group open/close */
.jstree-default i.jstree-node,
.jstree-default i.jstree-icon,
.jstree-default i.jstree-file,
.jstree-default i.jstree-folder,
#jstree-dnd.jstree-default .jstree-ok,
#jstree-dnd.jstree-default .jstree-er {
    background-image: url(../icon/32px.svg);
    background-repeat: no-repeat;
}

/* Mini DRCS editor */
.drcs-checkbox-pixel {
    position: relative;
    overflow: hidden;
    font-size: 0.2em;
    display: inline-block;
}

.drcs-checkbox-pixel input {
    position: absolute;
    left: -9999em;
}

.drcs-checkbox-pixel label {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
}

.drcs-checkbox-pixel input:checked+label {
    background-color: black;
}

.drcs-checkbox-pixel input:focus+label {
    outline: 1px dashed black;
}

.drcs-actions {
    position: absolute;
    right: 0;
    text-align: right;
}
